* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  scroll-padding: 60px;
  /* rem */
  font-size: 14px;
  /* font-family: 'Prompt', sans-serif;
  font-family: 'Rubik Iso', cursive; */
  font-family: "Dancing Script", cursive;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul,
ol,
dl {
  list-style-type: none;
  padding-left: 0px;
}

a {
  text-decoration: none;
  text-transform: capitalize;
}

.wrapper {
  max-width: 1086px;
  margin: 0 auto;
}

.header__main {
  margin: 0 auto;
  height: 100px;
  max-width: 1440px;
  background-color: rgba(15, 14, 14, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__main-logo {
  max-width: 5rem;
  max-height: 5rem;
}

.header__main-timer {
  background-color: brown;
}

.boards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.boards__item {
  background-color: rgba(15, 14, 14, 0.5);
  border: 1px solid rgb(6, 6, 6);
}

.boards__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.boards__item-header-title {
  color: rgb(147, 22, 22);
  font-size: 3rem;
  font-weight: 400;
}

.boards__item-header-counter {
  width: 1rem;
  border: 1px solid rgb(6, 6, 6);
}

/* .boards__item-body {

} */
.boards__item-button {
  font-weight: 400;
  font-size: 1rem;
  color: rgb(147, 22, 22);
  margin: auto;
  padding: 1rem 3rem;
  border: 1px solid rgb(6, 6, 6);
}

/* .task {
}
.task__wrapper {
}
.task__title {
}
.task__desc {
}
.task__user {
}
.task__functionality-main {
}
.task__functionality-additional {
}
.task__date {
} */
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(107, 105, 105, 0.8);
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task__form-body {
  padding: 1rem;
  border: 1px solid rgb(6, 6, 6);
  background: rgba(107, 105, 105, 0.8);
  min-width: 300px;
  -webkit-box-shadow: 0 0 1rem 0.2rem rgb(147, 22, 22);
          box-shadow: 0 0 1rem 0.2rem rgb(147, 22, 22);
  display: grid;
  grid-column: 5, 1fr;
  grid-row: 5, 1fr;
  grid-gap: 1rem;
}

.task__form-body-title {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row: 1;
}

.task__form-body-description {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row: 2;
  resize: none;
}

.task__form-body-user {
  grid-row: 3;
}

.task__form-body-reset {
  grid-column: 4;
  grid-row: 5;
}

.task__form-body-submit {
  grid-column: 5;
  grid-row: 5;
}

.task__form-body-reset,
.task__form-body-submit {
  border: 1px solid rgb(6, 6, 6);
  border-radius: 5px;
}